{
    "root": true,
    "env": {
        "node": true,
    },
    "parserOptions": {
        "ecmaVersion": 2022,
        "parser": "@babel/eslint-parser",
        "sourceType": "module",
    },
    "extends": ["eslint:recommended", "prettier"],
    "rules": {
        "eol-last": ["error", "always"],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1,
            },
        ],
        "no-undef": "off",
        "quotes": [
            "error",
            "double",
            {
                "avoidEscape": true,
            },
        ],
        "semi": ["error", "always"],
        "semi-spacing": "error",
        "semi-style": ["error", "last"],
    },
}
